# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/main/js/node_modules
src/main/js/.pnp
.pnp.js

# testing
src/main/js/coverage

# next.js
src/main/js/.next/
src/main/js/out/

# production
src/main/js/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

target/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
src/main/resources/static/**

### VS Code ###
.vscode/
